/** @format */

.products-1 {
  margin-top: 2rem;
  margin-bottom: 8rem;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product-1-box {
  width: 300px;
  height: 78%;
  margin: 0 1rem;
  position: relative;
  .product-1-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      transition: all 0.5s ease;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.055);
      &:hover {
        transform: scale(1.06);
      }
    }
  }
  .product-1-text-box {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .product-1-text {
      display: flex;
      flex-direction: column;
      color: #000;
      p {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        letter-spacing: 0.4px;
      }
      span {
        font-family: "Poppins", sans-serif;
      }
    }
    .product-1-cart {
      .bag-icon {
        background-color: #d3e1e1;
        padding: 0.42rem 0.5rem;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          background-color: #d3e1e1;
        }
      }
    }
  }
  .product-likes {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    z-index: 10;

    .heart-icon {
      stroke: rgba(0, 0, 0, 0.541);
      fill: rgba(0, 0, 0, 0);
      transition: all 0.25s ease;
      transform-origin: bottom;
      cursor: pointer;
      &:hover {
        transform-origin: top;
        fill: rgb(240, 14, 14);
      }
    }
  }
}
@media screen and (max-width: 1490px) {
  .products-teaware {
    width: 95%;
  }
}
